/* Cell phones*/
@media screen and (max-width: 550px){
/*core elements*/
h2{
    font-size: 2em;
}

h3{
    font-size: 18pt;
}
/* main top section */
.fa::before{
    text-align: center;
    font-size: 3em;
    margin: 10px;
}

#profile-picture{
    height: 100px;
    width: 100px;
}

#intro{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10vh;
}

/*portfolio section */
#carousel-container{
    padding: 0;
}

#myCarousel{
    padding: 0;
    max-width: 300px;
}

#project-description{
    display: none;
}

/* blog section */
.blog-detail{
    width: 100%
}

.blog-image{
    display: none;
}
}


/* Tablets */
@media screen and (min-width: 551px) and (max-width: 800px){
/*core elemets*/
h4{
    font-size: 2em;
}

/*blog section*/
.blog-image{
    width: 100%;
}

.blog-detail{
    font-size: 1.5em;
    width: 66.66%;
    margin-left: 16.667%;
}

/*portfolio section*/
#myCarousel{
    padding: 0;
    max-width: 768px;
}
}



